{% set title = '首页' %}
{% set css = ['/public/css/index.css'] %}
{% set js = ['/public/css/index.css'] %}
{% extends 'template/layout.html' %}
{% block head %}
    <link href='public/css/index.css' rel='stylesheet' type='text/css' charset='utf-8'/>
{% endblock %}

{% block body %}
    <h1>Index</h1>
    <form action="/views/list.html" method="get">
        <p>Name: <input name="name"></p>
        <p>Password: <input name="password" type="password"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <a href="/views/page/name.html">name.html</a>

    <img src="/public/close.png" >
    <script type="text/javascript">
        console.info(navigator.userAgent)
    </script>
{% endblock %}

